<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Final Bill</title>
</head>
<body>
    <form method="post">{% csrf_token %}
        <table>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            <tr>
                <td><img src=" {% static img %}" height="200px" width="200px"></td>
                <td>{{ nm }}</td>
                <td>{{ prc }}</td>
                <td>{{ qty }}</td>
                <td>{{ desc }}</td>
                <td>{{ total }}</td>
            </tr>

        </table>
        <button type="submit">Place Order</button>
    </form>
</body>
</html>